@charset "UTF-8";
/* CSS Document */

.soon-image{
	margin-left: auto;
  	margin-right: auto;
	width: 50%;	
    display: block;
}

.footersoon{
	display: flex;
	align-content: center;
}

.devmode {
	text-decoration: none;
	
}

#devtext {
	text-decoration: none;
	color: #3B6C9B;
}

@media (max-width: 900px) {
    .soon-image {
	margin-left: auto;
  	margin-right: auto;
	width: 80%;	
    display: block;
	padding-top: 60%;
	}
}