@charset "UTF-8";
/* CSS Document */

.space {
  display: inline-block;
  width: 140px;
  padding: 0px 0px;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #CACED5;
  background-color: #CACED5;
  border: 3px solid #CACED5;
  border-radius: 5px;
  box-shadow: 0 7px #CACED5;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #415F7D;
  border: 3px solid #343434;
  border-radius: 5px;
  box-shadow: 0 7px #1F3851;
}

.socialtext {
	font-family:  Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 20px;
}

.text-center {
  text-align: center;
}

.button:hover {background-color: #547CA3}

.button:active {
  background-color: #3B5671;
  box-shadow: 0 3px #1F3851;
  transform: translateY(4px);
}

.navtitle {
	font-size: 40px;
	font-weight: bold;
	color: white;
	text-shadow: 0px 7px 8px rgba(0,0,0,0.69);
	margin: 6px 0;
}
.navbar {
  overflow: visible;
  background-color: #3B6C9B;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  padding: 15px;
  box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);	
}

.disnavbutton {display: inline-block;
  padding: 15px 25px;
  font-size: 15px;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #415F7D;
  border: 3px solid #343434;
  border-radius: 5px;
  box-shadow: 0 7px #1F3851;
  opacity: 0.6;
  cursor: not-allowed;
}

.navbutton {
  display: inline-block;
  padding: 15px 25px;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #415F7D;
  border: 3px solid #343434;
  border-radius: 5px;
  box-shadow: 0 7px #1F3851;
}
/*#navbar-right {
  float: right;	
  padding-right: 35px;
}*/

.navbutton:hover {background-color: #547CA3}

.navbutton:active {
  background-color: #3B5671;
  box-shadow: 0 3px #1F3851;
  transform: translateY(4px);
}

.responsive {
  width: 100%;
  height: auto;
}

.text-background {
	align-self: center;
	width: 99%;
	background-color: white;
	padding: 1px 1px 20px 10px;
	box-shadow: 10px 16px 16px 0 rgba(0,0,0,0.2), -10px -16px 20px 0 rgba(0,0,0,0.19);	
}

.Title {
	font-family: "DejaVu Sans", Verdana, "sans-serif";
}

.Paragraph{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 20px;
}

.bottombar {
  overflow: visible;
  background-color: #3B6C9B;
  position: fixed; /* Set the navbar to fixed position */
  bottom: 0; /* Position the bar at the bottom of the page */
  width: 100%; /* Full width */
  padding: 15px;
  box-shadow: 0 -16px 16px 0 rgba(0,0,0,0.2), 0 -6px 20px 0 rgba(0,0,0,0.19);	
}
