@charset "UTF-8";
/* CSS Document */

.movieboxes{
	margin-top: 50px;
	text-decoration: none;
}

.movieboxes table tr td img
{
  width:18vw;
  height:auto;
  border-radius: 15px;
  transition: all 0.3s ease-in-out; 
  margin:8px 8px 20px 8px;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.69);
  border: 5px solid gray;
  text-decoration: none;
}
.movieboxes table tr td img:hover
{
  transform: scale(1.05);
  transition: all 0.3s ease-in-out; 
  position:absolute;
  z-index:2;
  border: 5px solid white;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.69);
  text-decoration: none;
}

.movieboxes table tr td h5{
	color: white;
	font-size: 20px;
	font-weight: normal;
	text-shadow: 0px 7px 8px rgba(0,0,0,0.69);
	margin: 0px 0px 0px 10px;
	height: auto;
	padding-top: 0px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-decoration: none;
}