@charset "UTF-8";
/* CSS Document */

* {
    box-sizing: border-box;
}

div {
    display: block;
}

@media (min-width: 480px) {
.ljolZD {
    padding: 0px 0px 26px;
	}
}

.ljolZD {
    padding: 0px 0px 14px;
}
.container {
    padding: 0 0 40px;
}

.hWfHDK {
    place-content: center flex-start;
    display: flex;
    -webkit-box-pack: start;
    flex-flow: row wrap;
    margin: 0px 0px 0px -20px;
}

@media screen and (max-width: 1024px) {
.hWfHDK > a, .hWfHDK > div {
    width: calc(16.6667% - 20px);
	}}

@media screen and (max-width: 1440px){
.hWfHDK > a, .hWfHDK > div {
    width: calc(16.6667% - 20px);
	}}

.hWfHDK > a, .hWfHDK > div {
    margin: 20px 0px 0px 20px;
    flex: 0 0 auto;
    width: calc(16.6667% - 20px);
}


.euSUqk {
    backface-visibility: hidden;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px, rgb(0 0 0 / 73%) 0px 16px 10px -10px;
    cursor: pointer;
    display: block;
    position: relative;
    transform: scale(1, 1) translateZ(0px);
    transition-duration: 300ms;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-out;
    -webkit-font-smoothing: subpixel-antialiased;
}

.basic-card {
    box-shadow: 0 26px 30px -10px "";
    display: block;
    position: relative;
}

a {
    background-color: transparent;
}

* {
    box-sizing: border-box;
}

@media (min-width: 768px){
.ilEytc {
    border-radius: 10px;
	}}

.ilEytc {
    background-image: linear-gradient(rgb(58, 60, 74), rgb(36, 38, 50));
    border-radius: 6px;
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px, rgb(0 0 0 / 73%) 0px 16px 10px -10px;
    cursor: pointer;
    display: block;
    overflow: hidden;
    position: relative;
    transform: scale(1);
    width: 100%;
    transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s !important;
}

@media (min-width: 768px)
{
.ilEytc::after {
    border-width: 3px;
	}}

.ilEytc::after {
    border-radius: 10px;
    border: 1px solid rgba(249, 249, 249, 0.1);
    inset: 0px;
    content: "";
    pointer-events: none;
    position: absolute;
    transition: inherit;
}

.ilEytc div {
    border-radius: 10px;
    transition: opacity 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.hRKcBi {
    background-size: cover;
    height: 0px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.ilEytc img:not(.hover-image) {
    z-index: 1;
}

.kQAqDF {
    inset: 0px;
    display: block;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    position: absolute;
    transition: opacity 500ms ease-in-out 0s;
    width: 100%;
}

img {
    border-style: none;
}

.ilEytc img.hover-image, .ilEytc video.hover-image {
    opacity: 0;
    z-index: 0;
}

.ilEytc video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
}

video {
    object-fit: contain;
}

