@charset "UTF-8";
/* CSS Document */
.movie-box {
	width: 100%;
	height: auto;
	border-radius: 5px;
	box-shadow: 0px 26px 30px -10px rgba(0, 0, 0, 0.69), 0px 16px 10px -10px rgba(0, 0, 0, 0.73);
	text-align: center;
 	margin-top: 15px;
	transition: all 200ms ease, transform 300ms ease;
	outline: 0px solid white;
	outline-offset: 3px;
}

.movie-box:hover {
	transform: scale(1.05);
	outline: 3px solid white;
}

.header-movie-box {
	width: 100%;
	height: auto;
	border-radius: 10px;
	box-shadow: 0px 26px 30px -10px rgba(0, 0, 0, 0.69), 0px 16px 10px -10px rgba(0, 0, 0, 0.73);
	text-align: center;
 	margin-top: 30px;
	transition: all 200ms;
	outline: 4px solid rgba(0,0,0,0.00);
	outline-offset: -4px;
}

.header-movie-box:hover {
	outline-color: white;
}


.p{
	color: aliceblue;
	font-size: 30px;
	font-weight: 900;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	padding-top: 40px;
	text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.69);
	text-decoration: none;
}

.movie-category {
	font-size: 1.3vw;
}

.container-fluid {
  overflow: hidden;
  position: relative;
	max-height: 30vw;
}

.container {
  width: calc(93vw - 48px);
}

.slider-services {
  position: initial; /*important, allows container-fluid to be the relative*/
	
}

.slider-banner {
  position: initial; /*important, allows container-fluid to be the relative*/
	
}

.slick-slide {
  height: auto;
	margin-bottom: 4%;
}

.slick-slide .col-xs-12 > div {
  
}

.slick-list {
  overflow: visible;/*important, allows overflow slides to be visible*/
	
}
.slick-next:before,
.slick-prev:before {
  color: white;
  opacity: 0;
  transition: opacity 300ms;;
content: url('https://unpkg.com/css.gg@2.0.0/icons/css/chevron-right.css');;
}
.slick-next,
.slick-prev {
  height: 30vw;
  width: calc(5vw);
  margin-top: -1.5%;
	
  z-index: 2;
  opacity: 0;
  transition: opacity 300ms;
}
.slick-prev,
.slick-prev:hover {
  opacity: 100%;
  left: 0;
  background-image: linear-gradient(to right, #13172A, rgba(255,255,255,0));
}
.slick-next,
.slick-next:hover {
  opacity: 100%;
  right: 0;
  background-image: linear-gradient(to left, #13172A, rgba(255,255,255,0));
}
.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
  display: none;
}

@font-face { font-family: FilmworksFont; src: url("../FilmworksFont.ttf"); } 
.slick-prev:before{
	font-family: FilmworksFont;
	content: '\E00E';
	font-size: 45px;
}

@font-face { font-family: FilmworksFont; src: url("../FilmworksFont.ttf"); } 
.slick-next:before{
	font-family: FilmworksFont;
	content: '\E00D';
	font-size: 45px;
}




.gVGhQT .slick-list, .gVGhQT .slick-slider {
    position: relative;
    display: block;
}
@media (min-width: 480px) {
.gVGhQT .slick-slider {
    margin-bottom: 16px;
	}
}

.gVGhQT .slick-slider {
    margin-bottom: 14px;
    z-index: 6;
}
