@charset "UTF-8";
/* CSS Document */

.button {
  display: inline-block;
  padding: 15px 25px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: #415F7D;
  border: 3px solid #343434;
  border-radius: 5px;
  box-shadow: 0 7px #1F3851;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 15px;
	color: white;
	text-decoration: none;
}

.button:hover {background-color: #547CA3}

.button:active {
  background-color: #3B5671;
  box-shadow: 0 3px #1F3851;
  transform: translateY(4px);
}