@charset "UTF-8";
/* CSS Document */
/*styles for all pages*/

html {
  overflow-y: scroll;
}

body { 
	background-color:#13172A;
	font-family: Arial,Helvetica,sans-serif;
	min-height: 100vh;
	margin: 0;
}

.links {
	text-decoration: none;
	text-decoration: underline;
	text-underline-offset: 3px;
	text-decoration-color: #207DE9;
	color: white;
	border-radius: 4px;
}

.links:hover {
	text-decoration-color: #99cccc;
	color: white;
}